.shop_img
{
	width: 600px;
	
}
.container
{
	width: 600px;
	margin: 0 auto;

}
.nav_list
{
	list-style: none;
	display: flex;
	margin-left: 250px;

}
.nav_item
{
	padding: 10px;
	color: #2A3759;
}
.logo
{
	font-family: Oswald;
	color: #2A3759;


}
.shop
{
	background: #d1c1c4;
	padding-bottom:30px ;
	padding-top: 10px;
}
.shop_title
{
	color:#431D32 ;
	text-align: center;
	font-family: Oswald;
}
.shop_text
{
	color: #431D32;
	font-family: Oswald;
}
.shop_button
{
	margin-left: 265px;
}
.shop_price
{
	text-align: center;
}
.footer_text
{
	margin-left: 250px;
	color: white;
	font-family: Oswald;
}

.footer{
	background: #283347;
	padding-bottom:10px ;
	padding-top: 20px;
}

.container_header
{
	display: flex;
}

.btn_menu{
	position: absolute;
	z-index: 1;
	left: 20px;
}

.nav{
	display: none;
}

.active {
	display: block;
}

.white{
	border-radius: 50%;
	background: aqua;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.black{
	border-radius: 50%;
	background: black;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.burger
{
background: transparent;
border: 0;
cursor: pointer;
}

@media (max-width: 901px){
	.nav_list{
		display: flex;
		flex-direction: column;
		background: skyblue;
		position: absolute;
		top: 50px;
		right: 670px;
		z-index: 2;
	}

	.container{
		max-width: 600px;
	}

}
.bg_img{
	width: 50px;
	height: 50px;
}
@media (max-width: 901px){
	.nav{
		width: 10px;
	}

	.nav_item{
		margin-right: 0;
		padding: 5px;
	}
		.nav_list{
		display: flex;
		flex-direction: column;
		background: skyblue;
		position: absolute;
		top: 30px;
		right: 380px;
		z-index: 2;
		align-items: center;
		padding: 0;
		border-radius: 25px;
		transition: 1s;
		transform: translateX(1000%);
		}
		.active_list{
			transform: translateX(0%);
		}

	
}
#myVideo{
	width: 100%;
}

.video{
	position: relative;
}
.video__content{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: azure;
}
.video__btn{
	width: 200px;
	font-size: 18px;
	padding: 5px 15px;
	border: none;
	background-color: #000;
	color: #fff;
	cursor: pointer;
	transition: 0.3s ease-in;

}
.video__btn:hover{
	background-color: #ddd;
	color: black;
}
	
.basket{
	position: fixed;
	top: 100px;
	left: 50px;
	width: 100px;
	height: 100px;

	
	padding: 15px 25px;
	background-color: #11b088;
	border-radius: 10px;
	border: 1px solid black;
	cursor: pointer;

}
.basket__img{
	width: 80%;

}
.price{
	margin: 0;
	text-align: center;
}